<mat-card>
    <mat-card-content>
        <h1>All Categories</h1>
    <mat-list>
        <mat-list-item *ngFor="let c of categories">
            <mat-icon matListItemIcon>category</mat-icon>
            <span matListItemTitle mat-line>{{ c.title }}</span>
            <span matListItemLine mat-line>{{ c.description }}</span>
            <mat-divider></mat-divider>
        </mat-list-item>
        
    </mat-list>

    <div class="container text-center mt20">
        <button routerLink="/admin/add-category" mat-raised-button color="primary">Add New Category</button>
    </div>
    </mat-card-content>

</mat-card>