<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!-- instructions -->
                <mat-card style="margin-top:70px;">
                    <mat-card-content>
                        <h3><b>Instructions</b></h3>
                        <ul>
                            <li>Do not refresh the page.</li>
                            <li>Do not switch the tabs.</li>
                            <li>Do not minimize the window.</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-8">
                <!-- question -->
                <ng-container *ngIf="questions">
                    <h1 class="mt20">
                        On Going Quiz <b>{{ questions[0].quiz.title }}</b>
                    </h1>
    
                    <mat-card *ngFor="let q of questions; let i = index" class="mt20">
                        <mat-card-content>
                            <p>Q {{ i + 1 }}) <span [innerHTML]="q.content"></span></p>
                            <mat-divider></mat-divider>

                            <div class="row mt20">
                                <div class="col-md-6">
                                    <input type="radio"
                                        [value]="q.option1"
                                        name={{i}}
                                        [(ngModel)]="q.givenAnswer"
                                    >
                                    {{ q.option1 }}
                                </div>
                                <div class="col-md-6">
                                    <input type="radio"
                                        [value]="q.option2"
                                        name={{i}}
                                        [(ngModel)]="q.givenAnswer"
                                    >
                                    {{ q.option2 }}
                                </div>
                            </div>

                            <div class="row mt20">
                                <div class="col-md-6">
                                    <input type="radio"
                                        [value]="q.option3"
                                        name={{i}}
                                        [(ngModel)]="q.givenAnswer"
                                    >
                                    {{ q.option3 }}
                                </div>
                                <div class="col-md-6">
                                    <input type="radio"
                                        [value]="q.option4"
                                        name={{i}}
                                        [(ngModel)]="q.givenAnswer"
                                    >
                                    {{ q.option4 }}
                                </div>
                            </div>

                        </mat-card-content>
                    </mat-card>
    
                </ng-container>
                <div class="container text-center mt20 mb20">
                    <button mat-raised-button color="primary" (click)="submitQuiz()">Submit Quiz</button>
                </div>
            </div>
            <div class="col-md-2">
                <!-- progress -->
                <mat-card style="margin-top:72px;">
                    <mat-card-header>
                        <mat-card-title>
                            Progress
                        </mat-card-title>
                        <mat-card-subtitle>
                            <b>Quiz will automatically submitted after  seconds.</b>
                        </mat-card-subtitle>
                        
                    </mat-card-header>
                    <mat-card-content>
                        <h1>{{ getFormattedTime() }}</h1>
                        <mat-spinner mode="determinate" [value]="(timer/ (this.questions.length * 2 * 60) * 100)" style="margin:auto;"></mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<!-- show the result -->

<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row mt20">
        <div class="col-md-6 offset-md-3">


            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Quiz Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1>Marks Got : <b>{{ marksGot }}</b></h1>
                    <h1>Correct Answers : <b>{{ correctAnswers }}</b></h1>
                    <h1>Questions Attempted : <b>{{ attempted }}</b></h1>
                    <br>
                    <button mat-raised-button color="accent" class="mr20" (click)="printPage()">Print</button>
                    <button mat-raised-button color="accent" [routerLink]="'/user-dashboard/0'">Home</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>