<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button routerLink="/admin" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon>&nbsp;<span style="position: absolute;"> Home</span>
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>&nbsp;<span style="position:absolute;"> Profile</span>
        </button>
        <button mat-list-item routerLink="/admin/categories">
            <mat-icon mat-list-icon>list</mat-icon>&nbsp;<span style="position: absolute;"> Categories</span>
        </button>
        <button mat-list-item routerLink="/admin/add-category">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>&nbsp;<span style="position: absolute;"> Add Category</span>
        </button>
        <button mat-list-item routerLink="/admin/quizzes">
            <mat-icon mat-list-icon>quiz</mat-icon>&nbsp;<span style="position: absolute;"> Quizzes</span>
        </button>
        <button mat-list-item routerLink="/admin/add-quiz">
            <mat-icon mat-list-icon>add</mat-icon>&nbsp;<span style="position: absolute;"> Add Quiz</span>
        </button>
    </mat-action-list>
</mat-card>